
services:
  - type: web
    name: skillarena-backend
    env: node
    buildCommand: npm install --production
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: JWT_SECRET
        generateValue: true
      - key: DATABASE_URL
        value: postgres://postgres:postgres@skillarena-db.internal:5432/skillarena
      - key: REDIS_URL
        value: redis://default@skillarena-redis.internal:6379
  - type: web
    name: skillarena-frontend
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: build
    envVars:
      - key: REACT_APP_API
        value: https://skillarena-backend.onrender.com
